---
- name: VSCode  ----  Check if vscode is installed
  ansible.builtin.shell: |
    command -v code >/dev/null 2>&1
  args:
    executable: /bin/bash
  register: vscode_installed
  changed_when: false
  failed_when: false

- name: VSCode  ----  Install Extensions
  ansible.builtin.shell: |
    extensions=(
      'ms-azuretools.vscode-docker'
      'aaron-bond.better-comments'
      'ms-vscode-remote.remote-containers'
    )
    for extension in "${extensions[@]}"
    do
      echo "[INFO] Install VSCode extension $extension"
      code --extension "$extension"
    done
  args:
    executable: /bin/bash
  when: vscode_installed.rc == 0
