---
- name: Docker  ----  Ubuntu ----  Install docker packages
  ansible.builtin.apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: true
  retries: 5
  delay: 10
  register: docker_install
  until: docker_install is succeeded
  when: ansible_os_family == "Debian"
