---
- name: Packages  ----  Fastfetch  ----  Ubuntu
  when: ansible_os_family == "Debian"
  block:

    - name: Packages  ----  Fastfetch  ----  Ubuntu  ----  Cleanup
      ansible.builtin.apt:
        pkg: &uninstall-packages
          - neofetch
        state: absent
        purge: true

    - name: Packages  ----  Fastfetch  ----  Ubuntu  ----  Install
      ansible.builtin.apt:
        pkg: &install-packages
          - fastfetch
        state: latest
        update_cache: true

- name: Packages  ----  Fastfetch  ----  Arch
  when: ansible_os_family == "Archlinux"
  block:

    - name: Packages  ----  Fastfetch  ----  Arch  ----  Cleanup
      community.general.pacman:
        name: *uninstall-packages
        state: absent

    - name: Packages  ----  Fastfetch  ----  Arch  ----  Install
      community.general.pacman:
        name: *install-packages
        state: present
        update_cache: true
