---
- name: Task  ----  Ubuntu
  when: ansible_os_family == "Debian"
  block:

    - name: Task  ----  Ubuntu  ----  Install  ----  Download
      ansible.builtin.get_url:
        url: "https://github.com/go-task/task/releases/download/v{{ version }}/task_linux_{{ architecture }}.deb"
        dest: /tmp/task_{{ architecture }}.deb
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: u=rwx,g=rx,o=rx
      vars:
        version: 3.42.1

    - name: Task  ----  Ubuntu  ----  Install  ----  Install
      ansible.builtin.apt:
        deb: /tmp/task_{{ architecture }}.deb
        state: present

- name: Task  ----  Arch
  when: ansible_os_family == "Archlinux"
  block:

    - name: Task  ----  Arch  ----  Install
      community.general.pacman:
        name: task
        state: present

- name: Task  ----  Verify
  block:

    - name: Task  ----  Verify installation
      ansible.builtin.command: task --version
      register: task_output

    - name: Task  ----  Print version
      ansible.builtin.debug:
        msg: "{{ task_output.stdout }}"
