---
- name: Packages Desktop  ----  Sublime  ----  Ubuntu
  when: ansible_os_family == "Debian"
  block:

    - name: Packages Desktop  ----  Sublime  ----  Ubuntu  ----  Download GPG key
      ansible.builtin.get_url:
        url: https://download.sublimetext.com/sublimehq-pub.gpg
        dest: /etc/apt/keyrings/sublimehq-archive-keyring.gpg
        mode: '0644'

    - name: Packages Desktop  ----  Sublime  ----  Ubuntu  ----  Add apt repository
      ansible.builtin.apt_repository:
        repo: deb https://download.sublimetext.com apt/stable/
        state: present

    - name: Packages Desktop  ----  Sublime  ----  Ubuntu  ----  Install
      ansible.builtin.apt:
        name:
          - sublime-text
        state: latest
        update_cache: true
